#title{
  text-align:center;
}
#intro{
  text-align:center;
}
#section1{
  margin-top:100px;
}

#section2{
text-align:center;
 margin-top:-450px;
}
#section3{
  margin-top:-460px;
  text-align:right;
}
#section4{
}
#section5{
  text-align:center;
  margin-top:-450px;
}
#section6{
  text-align:right;
  margin-top:-455px;

}
#credits{
  text-align:center;
  margin-top:190px;
}